@page
@model AboutModel
@{
    ViewData["Title"] = "Why Cloudmoyo";
}
<h2>@ViewData["Title"]</h2>


<p>
    CloudMoyo is the partner of choice for solutions at the intersection of cloud and AI. We help modern enterprises define their path to the cloud and leverage the power of data-driven insights.

    As a leading cloud and analytics partner for Microsoft, CloudMoyo brings together powerful business intelligence (BI) capabilities using the Azure data platform to transform your complex data into actionable insights and modernize your data landscape. We help you achieve insight, innovation, and impact through big data, machine learning, predictive analytics, and visual story-telling.

    CloudMoyo empowers rail and transportation companies to gain greater insights, unlock efficiencies, and improve agility in operations, revenue and asset management as well as critical areas of safety, crew scheduling and maintenance. Combined with deep rail industry expertise, our cloud-based, AI-driven solutions leverage cutting edge technology to reimagine railroad digitization. Check out our rail solutions at https://rail.cloudmoyo.com

    Headquartered in Bellevue, WA, with an innovation center in Pune, India, and a presence in Kansas City, CloudMoyo is poised to help intelligent enterprises build innovative solutions and stay ahead in the disruption cycle. Our proven track record includes developing enterprise solutions for Fortune 1000 companies such as Microsoft and Kansas City Southern..
</p>
